
.card__outer {
    background: #fff;
    width: 250px;
    height: 300px;
    cursor: pointer;
}

.card__inner {
    position: relative;
    padding: 6px 6px 14px 6px;
}

.card__image img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.image__desc p{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action__div {
    position: absolute;
    top: -5%;
    right: -5%;
    display: none;
}

.action__div i {
    font-size: 1.6rem;
    color: #262626;
    background: red;
    padding: 12px;
    border-radius: 50%;
}

.card__outer:hover .action__div {
    display: block;
}